@import 'variables';

.header {
  min-height: 56px;
  background-color: $color-base;
  &__inner {
    height: 56px;
  }
  &__logo {
    a {
      color: $color-font;
      text-decoration: none;
    }
  }
  &__actions {
    margin-left: auto;
  }
  &__icon {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    box-shadow: none;
  }
}
