@import 'variables';

.header {
  min-height: 56px;
  background-color: $color-base;
  &__inner {
    height: 56px;
  }
  &__logo {
    // font-family: 'Kosugi Maru', sans-serif;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 500;
    a {
      color: $color-font;
      text-decoration: none;
    }
  }
  &__actions {
    margin-left: auto;
  }
  &__icon {
    background-color: transparent;
    background-position: center;
    background-size: cover;
    box-shadow: none;
  }
}
