<div class="welcome">
  <div class="welcome__top">
    <h1 class="title">Logo</h1>
    <p>登録した目標を〇〇時までに達成しないと××ツイートされます</p>
    <div class="welcome__buttons">
      <ng-template #default>
        <button
          mat-raised-button
          color="primary"
          (click)="login()"
          [disabled]="authService.loginProcessing"
        >
          {{ authService.loginProcessing ? 'ログイン中' : 'Twitterで始める' }}
        </button>
      </ng-template>
      <ng-container *ngIf="user$ | async as user; else default">
        <a routerLink="/mypage" mat-raised-button color="primary"
          >目標を設定する</a
        >
      </ng-container>
    </div>
  </div>
</div>
  <app-about></app-about>
  <!-- <div class="catchcopy">
    <div class="catchcopy__wrapper">
      <h2 class="title">Twi-Proを始めよう</h2>
      <div class="catchcopy__description">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
          voluptates nihil dolor ab odit esse aperiam quod? Odit, suscipit
          delectus? Sint quasi veniam necessitatibus deserunt vel officiis
          beatae enim doloribus.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam atque
          aspernatur, architecto aperiam sunt, obcaecati, quidem maiores quasi
          nisi eaque libero necessitatibus! Consectetur quo doloribus excepturi
          incidunt quasi ratione totam.
        </p>
      </div>
    </div>
  </div>
 -->
