<app-hero [productName]="productName" [limitTime]="limitTime"></app-hero>
<!--
<div class="container">
  <div class="how-to">
    <h2 class="title">Twi-Proの使い方</h2>
    <ol class="how-to__step">
      <div class="how-to__grid">
        <li class="how-to__step-lists">
          <div class="how-to__step-title">Step1. 今日の目標を登録する。</div>
          <div class="how-to__step-image">
            <img src="https://via.placeholder.com/224x300" />
          </div>
        </li>
        <li class="how-to__step-lists">
          <div class="how-to__step-title">
            Step2. 完了したらチェックを入れる。
          </div>
          <div class="how-to__step-image">
            <img src="https://via.placeholder.com/224x300" />
          </div>
        </li>
        <li class="how-to__step-lists">
          <div class="how-to__step-title">Step3. 〇〇時になると…</div>
          <div class="how-to__step-image">
            <img src="https://via.placeholder.com/224x300" />
          </div>
        </li>
      </div>
    </ol>
  </div>

  <div class="container">
    <div class="about">
      <h2 class="title">こんな時に…！</h2>
      <p class="text">
        Twi-ProはTwitterを利用し、当日の行動をフォロワーの方々に宣言する事で
      </p>
      <p class="text">
        「必ずやり遂げよう」というあなたの気持ちを後押しするサービスです。
      </p>
      <div class="grid">
        <mat-card class="about-card">
          <p class="about-card__title">Lorem, ipsum dolor.</p>
          <p class="text">Lorem, ipsum.</p>
          <img
            src="https://via.placeholder.com/252x158"
            class="about-card__image"
          />
        </mat-card>
        <mat-card class="about-card">
          <p class="about-card__title">Lorem, ipsum dolor.</p>
          <p class="text">Lorem, ipsum.</p>
          <img
            src="https://via.placeholder.com/252x158"
            class="about-card__image"
          />
        </mat-card>
        <mat-card class="about-card">
          <p class="about-card__title">Lorem, ipsum dolor.</p>
          <p class="text">Lorem, ipsum.</p>
          <img
            src="https://via.placeholder.com/252x158"
            class="about-card__image"
          />
        </mat-card>
      </div>
    </div>

    <div class="catchcopy">
      <div class="catchcopy__wrapper">
        <h2 class="title">Twi-Proを始めよう</h2>
        <div class="catchcopy__description">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime
            voluptates nihil dolor ab odit esse aperiam quod? Odit, suscipit
            delectus? Sint quasi veniam necessitatibus deserunt vel officiis
            beatae enim doloribus.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam atque
            aspernatur, architecto aperiam sunt, obcaecati, quidem maiores quasi
            nisi eaque libero necessitatibus! Consectetur quo doloribus
            excepturi incidunt quasi ratione totam.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
