@mixin sm {
  @media screen and (max-width: 599px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
