// カラー設定
$color-main: #FDD835;
$color-main-dark: #F9A825;

$color-accent: #91BABF;
$color-warn: #f44336;
$color-base: #f2f2f4;
$color-base-light: #f9f9f9;
$color-base-dark: #BDBDBD;
$color-font: #202020;
$color-font-light: #808080;
$color-twitter: #1da1f2;

// フォント設定
$font-default: Roboto, "Helvetica Neue", "Hiragino Sans","Hiragino Kaku Gothic Pro",meiryo,"Helvetica Neue",roboto,droid sans,arial,sans-serif;
$font-logo: 'M PLUS 1p', sans-serif;

// 背景パターン用
$bg-dot-base-color:  #FFF176;
$bg-dot-color: #F57F17;
$bg-dot-size: 1px;
$bg-dot-space: 22px;
$bg-size: $bg-dot-space $bg-dot-space;
