// カラー設定
$color-main: #fbd13c;
$color-main-dark: hsl(47, 65%, 50%);
$color-accent: #91BABF;
$color-warn: #f44336;
$color-base: #f2f2f4;
$color-base-light: #f9f9f9;
$color-font: #202020;
$color-font-light: #808080;
$color-base-light: #f9f9f9;
