<div class="catch-copy">
  <div class="container">
    <div class="catch-copy__inner">
      <h1 class="catch-copy__title">「やる気出ない」を卒業したいあなたに！</h1>
      <p class="catch-copy__text">
        あとで絶対やる！
        <br />
        そう思いながら寝てしまったり遊んでしまったり…
        <br />
        そんな経験はありませんか。
        <br />
        決してやる気がないわけではないけれど
        <br />
        「あと一歩やる気の背中を押して欲しい」
        <br />
        そんな風に思うこともあると思います。
        <br />
        <br />
      </p>
      <p class="catch-copy__text">
        <b>爆つい</b>はそんなあなたの
        <br />
        背中を押すためのサービスです！
        <br />
        <br />
        やる事を決めてからワンクリックで宣言して
        <br />
        知らず知らず残っている見られたくない過去ツイを<br />
        リツイートされないよう
        <br />
        目標を達成しましょう！
        <br />
      </p>
    </div>
  </div>
</div>
