/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 64px;
}

.container {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1080px;
}
