/* You can add global styles to this file, and also import other style files */

@import "variables";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  margin: 0;
  color: $color-font;
  font-family: Roboto, "Helvetica Neue", "Hiragino Sans","Hiragino Kaku Gothic Pro",meiryo,"Helvetica Neue",roboto,droid sans,arial,sans-serif;
  padding-top: 64px;
}

.container {
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1080px;
}
