<div class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__main">
        <p class="hero__catch">
          目標を達成して<br>
          爆弾ツイートを阻止せよ！
        </p>
        <p class="hero__text">
          {{ limitTime }}時の時点で完了報告がないと、<br />
          過去のツイートがリツイートされます！<br />
        </p>
        <div class="hero__actions">
          <ng-template #default>
            <button
              (click)="login()"
              [disabled]="authService.loginProcessing"
              [class.disabled]="authService.loginProcessing"
              class="btn hero__btn"
            >
              {{
                authService.loginProcessing ? 'ログイン中' : 'Twitterで始める'
              }}
            </button>
          </ng-template>
          <ng-container *ngIf="user$ | async as user; else default">
            <a routerLink="/mypage" class="btn hero__btn">目標を設定する</a>
          </ng-container>
        </div>
      </div>
      <div class="hero__usage">
        <ul class="usage">
          <li class="usage__item">
            <div class="usage__head">STEP 01</div>
            <p class="usage__title">今日の目標を<br />登録する。</p>
            <div class="usage__image">
              <img src="/assets/images/step01.png" alt="" />
            </div>
          </li>
          <li class="usage__item">
            <div class="usage__head">STEP 02</div>
            <p class="usage__title">目標を達成したら<br />完了報告する。</p>
            <div class="usage__image">
              <img src="/assets/images/step02.png" alt="" />
            </div>
          </li>
          <li class="usage__item">
            <div class="usage__head"><em>完了報告がない</em>と…</div>
            <p class="usage__title">
              過去のツイートが<br />リツイートされます。
            </p>
            <p class="usage__emoji">💣</p>
            <p class="usage__comment">
              あの時のポエムツイートが<br />リツイートされてしまう！？
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
