<div class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__main">
        <h2 class="about__catch">こんなことありませんか？</h2>
        <div class="about__text">
          ばくツイ！はTwitterを利用し、<br />
          当日の行動をフォロワーの方々に宣言する事で<br />
          「必ずやり遂げよう」というあなたの<br />気持ちを後押しするサービスです。
        </div>
      </div>
      <div class="about__timing">
        <ul class="timing">
          <li class="timing__item">
            <div class="timing__title">キツイことから<br />逃げてしまう</div>
            <img
              src="/assets/images/undraw_personal_training_0dqn.svg"
              alt="キツくてトレーニングが続かない時"
              class="timing__image"
            />
          </li>
          <li class="timing__item">
            <div class="timing__title">1人だとなんだか<br />やる気が出ない</div>
            <img
              src="/assets/images/undraw_viral_tweet_gndb.svg"
              alt="やらなくてはいけないのに作業に手が付かない時"
              class="timing__image"
            />
          </li>
          <li class="timing__item">
            <div class="timing__title">
              どうしても先延ばしに<br />する癖がある
            </div>
            <img
              src="/assets/images/undraw_date_picker_gorr (1).svg"
              alt="やろうと思ったのにだらだら次の日に回してしまう時"
              class="timing__image"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
